{%- set ns = namespace(aistor_endpoint="") %}
{%- for edge in edges %}
{%- if edge.target == node.id and edge.connection_type in ['s3', 'aistor-tables'] %}
{%- set source_node = nodes | selectattr('id', 'equalto', edge.source) | first %}
{%- if source_node %}
{%- if source_node.component == 'minio' and source_node.config.get('MINIO_EDITION', 'ce') == 'aistor' %}
{%- set ns.aistor_endpoint = "http://" ~ project_name ~ "-" ~ source_node.id ~ ":9000" %}
{%- elif source_node.component == 'nginx' and source_node.id.endswith('-lb') %}
{%- set ns.aistor_endpoint = "http://" ~ project_name ~ "-" ~ source_node.id ~ ":80" %}
{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- if ns.aistor_endpoint %}
connector.name=iceberg
iceberg.catalog.type=rest
iceberg.rest-catalog.uri={{ ns.aistor_endpoint }}/_iceberg
iceberg.rest-catalog.warehouse=analytics
iceberg.rest-catalog.security=SIGV4
iceberg.rest-catalog.vended-credentials-enabled=true
iceberg.rest-catalog.signing-name=s3tables
iceberg.rest-catalog.view-endpoints-enabled=true
iceberg.unique-table-location=true
fs.native-s3.enabled=true
fs.hadoop.enabled=false
s3.endpoint={{ ns.aistor_endpoint }}
s3.path-style-access=true
s3.aws-access-key=minioadmin
s3.aws-secret-key=minioadmin
s3.region=local
{%- else %}
connector.name=memory
{%- endif %}
